<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload Coconut Disease Image for Classification</h1>
    <form action="predictImage/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="uploadFile">
            <label for="file">
                Upload Image File:
            </label>
        </div>
        <input name="filePath" type="file">
        <input type="submit" value="Predict">
        <div class="img">
            <h2>{{result}} </h2>
            <h4>{{identification}}</h4>
            <img style="width: 20%;" src="{{filePathName}}" alt="imagename"><br>
            <h4>{{solution}}</h4>
            <!-- {{filePathName}} -->
        </div>
    </form>
</body>
</html>